*{
   margin: 0px;
   padding: 0px;
  
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    
    margin:  auto;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    background: linear-gradient(to right,rgb(246, 239, 207), #fefefd, #f792a6, #cf7ee5);

}
.logo-cont{
    display: flex;
    align-items: center;
}

.logo-cont img{
    width:80px;
    
}

.navitems{
    display: flex;
    gap: 3rem;
    padding: 0 4rem;

}

.logo-text{
    margin-left: -0.8rem;
    font-size: 20px;
    font-style: italic;
}

.navitems div{
    font-size: 20px;
    font-weight: 450;
    cursor: pointer;
}

.navitems div a{
     color: rgb(32, 32, 31);
}

a{
    text-decoration: none;
}

.navitems div :hover{
    font-weight: bold;
    transition: 1.4s;
}

.hero{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.fadded{
    user-select: none ;
    font-size: 4em;
    color: rgb(217, 213, 213);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.heroleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hheading{
        font-size: 35px;
        color: #343d68;
        font-weight: 500;

}

.role{
    color: #6030c1;
    font-weight: 800;
}

.hsubheading{
    font-size: 45px;
    line-height: 45px;
}

.hdescription{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.nice {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 15px;
    background-color: #153f00;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .nice span {
    position: relative;
    z-index: 1;
  }
  .nice:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #52b71f;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .nice:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    opacity: 0.5;
    border-radius: 2px;
  }

  .heroright{
    position: relative;
    
    
  }

  .abs{
    position:absolute;
  }

  .ui{
      padding: 2.5rem;
      filter: grayscale(1);
       transition: all ls;
       animation: scaleImage 6s linear infinite;
  }
.ui img{
    z-index: -10;
    
      
}

@keyframes scaleImage{
    0%{
        filter: grayscale(1);
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        
        
    }
    100%{
        transform: scale(0.9);
        box-shadow: 3px 3px  10px black;
    }
}


.icd{
    z-index: 9;
    bottom: -1rem;
    right: 0em;
    animation-name: dotsanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes dotsanimation {
    0%{
        transform:  translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.icc{
    z-index: 9;
    top: 1em;
    right: 1em;
    justify-content: flex-end;
    animation-name: anicube;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes  anicube{
    0%{
        transform: translateY(0px) rotate(90deg);
    }
    50%{
        transform: rotateY(180deg) rotate(180deg) translateY(-20px);
    }
    100%{
        transform: rotateY(360deg) rotate(360deg) translateY(0px);
    }
    
}

.icie{
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: anicir;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes anicir{
    0%{
        left:0;
        bottom: 0;
    }
   50%{
        left: 5%;
        bottom: 10%;
   }
   100%{
        left: 0;
        bottom: 0;
   }
}

.iz{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: ziz 5s ease-in infinite;
}

@keyframes ziz {
    50%{
        left: 5%;
        bottom: 10%;
    }
    
}

.p{
    z-index: 9;
    top: -0.8em;
    left: 50%;
    animation: plus 5s ease-in infinite;
}

@keyframes plus {

    50%{
        top: 3%;
        left: 48%;
    }
}

.project{
    background: linear-gradient(217deg, rgba(242, 212, 212, 0.8), rgba(136, 88, 88, 0) 70.71%),
    linear-gradient(127deg, rgba(181, 252, 181, 0.8), rgba(80, 136, 80, 0) 70.71%),
    linear-gradient(336deg, rgba(156, 156, 219, 0.8), rgba(93, 93, 147, 0) 70.71%);
    margin-top: 4rem;
}

.pagehead{
    color: rgb(245, 103, 37);
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
}

.projectcont{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 120px; 
}

.projectcard{
   width: 90%;
   height: 550px;
   background-image:url(".//Project1.png") ;
   background-size: cover;
   position: relative;
   box-shadow: 0px 0px 40px black ;
   
}



.projectcard::after{
content: "";
position: absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:#4948489a ;
 /*transform: scale(1);*/
 z-index: 0;
}

.projectcard::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg ,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.projectcard:hover::before{
    transform: scaleX(1);
    
}

.pn{
    position: absolute;
    font-size: 200px;  
    font-weight: 600;
    color: rgb(244, 230, 248);
    z-index: 10;
    display: none;
}

.projectcard:hover .pn{
   display: block;
   transform: scale(1);
   
}
.pnm{
    right: -40px;
    top: -45px;

}
.pnl{
    right: -40px;
    top: -45px;
}
.pc{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s ;
}

.pcl{
    left: 10%;

}

.pcm{
    right: 10%;
}

.pskcon{
    width: 60%;
    display: flex;
    
    gap: 10px;
    flex-wrap: wrap;
}

.pss{
    width: 40px;  
}

.prohead{
    font-size:50px ;
    line-height: 3rem;
    font-weight: bold;
    z-index: 50;
}

.project-sub{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.butt-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.ion{
    cursor: pointer;
    color:white ;
    font-size: 35px;
}

.projectcard:hover .pc {
    transform: scale(1.1);
}

#one{
    background-image: url(".//Project1.png");
}
#two{
    margin-left: 120px;
    background-image: url(".//Project2.png");
}
#three{
    background-image: url(".//Project3.png");
}
#four{
    margin-left: 120px;
    background-image: url(".//Project4.png");
}

@media (max-width:1300px ){
    .pagehead{
        padding-top: 30px;
        color: var(--bg0range);  
        text-align: center;
        font-size: 40px;
    }

    .projectcont{
        padding-right: 5px;
        margin: 10px;
        gap: 60px;

    }
    .projectcard{
       
        width: 150%;
        height: 500px;
       
    }

    .projectcard{
        background-size: cover;
        background-position: center; 
    }
    .projectcont{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .pnl{
       left: 0;
    }

    .pagehead{
        font-size: 40px;
        width: 100%;
    }

    .project-sub{
        width: 100%;
    }

    #project2{
        margin-left: 0;
    }

    #project4{
        margin-left: 0 ;
    }
    .pskcon{
        width: 100%;
    }
    .projectcont{
        width: 100%;
    }
    .projectcard:hover .pc {
        scale: 0.55;
    }
    .projectcard:hover .pn {
        display: none;
    }
    
    
}


.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    
    flex-direction: column;
}

.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;

}

.skill_fade_text{
    position: absolute;
    font-size: bold;
    color: white;
    bottom: -34.5%;
    right: -25%;
    user-select: none;
    overflow-y: hidden;
}

.blob-style{
    position: absolute;
    top: 20%;
    left: 20%;
    animation: blob 3s linear infinite;
    z-index: -5;
    transform: translate();
}

@keyframes blob {
    50%{
        top: 24%;
        left: 26%;
    }
}

.skill-logo{
    width: 90px;
    transition: all 0.5s ;
    
}

.skill-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
     font-size: 50px;
     color: rgb(255, 68, 0);
     line-height: 50px;
}

.caps{
  font-size: 90px;

}

.skill-subheading{
   margin-top: 1rem;
   width: 85%;
   text-align: justify;
   
}

